/*Base.scss*/
@import '@/scss/variable.scss';
  header{
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    @media screen and (min-width:960px) {
      box-shadow: 0 0 0px rgba(0,0,0,.2);
    }
  }
  //コレ必要？
  h2 {
    font-size: 5.4vw;
    position: relative;
    display: inline-block;
    margin-top: .8rem;
    margin-bottom: .75rem;
    font-weight: bold;
    text-align: left;
  }
  //コレ必要？
  p{
    font-size: 3.8vw;
    line-height: 1.5rem;
  }

  .inner{
    width: 91.4%;
    margin: 0 auto;
    overflow: hidden;
  }
  .ofv{
    overflow: visible;
  }
  .sp{margin-top: 64px;}
  .home{
    overflow: hidden;
    .kaigoMedia{
      h2{
        width:100%;
        background-color: $text-color;
        padding: 1rem;
        color: #fff;
      }
    }
  }
